@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
}
body{
    background-color: #1B1A17;
}
nav{
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
}
h1{
    font-size: 6.5rem;
    font-weight: 900;
    margin-top: 5rem;
    color: #fff;
    position: relative;
    width: 60%;
    display: inline-block;
}
.profile-desc h1::after{
    content: '';
    position: absolute;
    width: 75%;
    border-bottom: 7px solid #1E5128;
    top: 100%;
    right: 0;
    bottom: 0;
    left: 20%;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease 2.5s forwards;
}
.first-container{
    margin: 20px 10%;
    background: no-repeat right url(https://cdn.dribbble.com/users/2565074/screenshots/11933278/media/c7fd083fa92fa8db7faedc034d3b5ba2.gif);
    height: 100vh;
}
.nav-right{
    display: flex;
    list-style-type: none;
}
.nav-right img{
    height: 30px;
    width: 30px;
}
.nav-right li{
    margin-left: 40px;
}
.header-name{
    border-bottom: 7px solid #1E5128;
}
.profile-desc p{
    font-size: 1.6rem;
    color: #fff;
    margin-top: 50px;
    margin-bottom: 100px;
    width: 40%;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease 3.7s forwards;
}
.profile-desc a{
    font-size: 1.3rem;
    color: #fff;
    text-decoration: none;
    position: relative;
}
.profile-desc a::after{
    content: '';
    position: absolute;
    width: 100%;
    border: 3px solid #1E5128;
    top: 30px;
    right: 0;
    bottom: 0;
    left: 0;
}
@keyframes fadeInUp{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}